@mixin transition($prop, $duration) {
  -webkit-transition: $prop $duration;
  -moz-transition: $prop $duration;
  -ms-transition: $prop $duration;
  -o-transition: $prop $duration;
  transition: $prop $duration;
}