$header-size-full: 70px;
$header-size-shrink: 20px;
$title-font-size-full: 25pt;
$title-font-size-shrink: 20pt;
$menu-font-size-full: 18pt;
$menu-font-size-shrink: 15pt;
$header-font-color: #e6e6e6;
$header-color: #201f21;

$section-height: 200px;
$main-section-height: 500px;

$main-section-background: #201f21;

$footer-height: 60px;