$header-size-full: 70px;
$header-size-shrink: 20px;
$title-font-size-full: 25pt;
$title-font-size-shrink: 20pt;
$menu-font-size-full: 18pt;
$menu-font-size-shrink: 15pt;
$header-color: #201f21;

$main-section-height: 60vh;
$section-height: 200px;
$map-section-height: 500px;
$teaser-height: 80px;

$main-section-background: #201f21;
$teaser-section-background: #E9EBF0;

$footer-height: 60px;
$text-color: #e6e6e6;