nav a {
  font-size: 18pt;
  color: #e6e6e6 !important;
  -webkit-transition:  0.2s;
  -moz-transition:  0.2s;
  -ms-transition:  0.2s;
  -o-transition:  0.2s;
  transition:  0.2s; }

li.active a {
  color: #e6e6e6 !important; }

nav.navbar {
  height: 70px;
  background-color: rgba(32, 31, 33, 0.5);
  border: none;
  -webkit-transition:  0.2s;
  -moz-transition:  0.2s;
  -ms-transition:  0.2s;
  -o-transition:  0.2s;
  transition:  0.2s; }
  nav.navbar li a {
    line-height: 70px;
    padding-top: 0;
    padding-bottom: 0; }
  nav.navbar .navbar-header {
    height: 70px; }

.navbar-toggle.collapsed {
  margin-top: 15px; }

nav.navbar-shrink .navbar-toggle {
  margin-top: 10px !important; }

nav .navbar-toggle {
  margin: 13px 15px 13px 0; }

.navbar-brand {
  font-size: 25pt;
  padding-top: 25px;
  padding-bottom: 25px; }
  @media only screen and (max-width: 440px) {
    .navbar-brand {
      font-size: large; } }

nav.navbar.navbar-shrink {
  height: 20px;
  background: #201f21; }

.navbar-shrink {
  height: 50px !important; }

nav.navbar-shrink a {
  font-size: 15pt; }

nav.navbar-shrink li a {
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #e6e6e6 !important; }

nav.navbar-shrink .navbar-brand {
  font-size: 20pt;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #e6e6e6 !important; }
  @media only screen and (max-width: 440px) {
    nav.navbar-shrink .navbar-brand {
      font-size: large; } }

nav.navbar-shrink .navbar-toggle {
  padding: 4px 5px;
  margin: 8px 15px 8px 0; }

.navbar-collapse.collapse.in {
  background: #201f21; }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  color: #e6e6e6; }

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

.row {
  margin: 0; }

html {
  position: relative;
  min-height: 100%;
  background-color: #201f21; }

body {
  overflow-x: hidden;
  margin-bottom: 60px; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: none; }

.section {
  height: 200px; }

.main-section {
  height: 60vh;
  background-color: #201f21; }

.teaser-section {
  background-color: #E9EBF0; }
  .teaser-section .teaser {
    padding: 80px 0; }

.contact-section {
  padding: 50px 0;
  background-image: url(../img/contact_background_dark.jpg);
  color: #e6e6e6; }

.info-section {
  padding: 50px 0; }

.contact-form-section {
  padding-bottom: 50px; }

.contact-item {
  margin-top: 30px; }
  .contact-item a:visited {
    color: #e6e6e6; }
  .contact-item i {
    width: 80px;
    height: 80px;
    line-height: 80px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #e6e6e6; }
    .contact-item i:hover {
      background: #201f21; }

.testimonial {
  padding: 0 30px;
  font-style: italic; }

.map-section a {
  position: relative;
  top: -119.76048px; }

.angular-google-map-container {
  height: 200px; }
  @media only screen and (min-width: 50em) {
    .angular-google-map-container {
      height: 500px; } }

.small-line {
  border-bottom: 1px #e6e6e6 solid;
  margin: auto;
  width: 110px; }

.initially-hidden {
  display: none; }

.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ div.select-wrapper {
  margin-left: 3rem;
  width: 92%;
  width: calc(100% - 3rem); }

/*# sourceMappingURL=main.css.map */
