@import "mixins";
@import "variables";
@import "nav";
@import "carousel";
@import "footer";

// Angular-Bootstrap fix
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
// Terrible fixes for a terrible idea of mixing materialize and bootstrap
.row {
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  margin-bottom: $footer-height;
}

.section {
  height: $section-height;
}

.main-section {
  height: $main-section-height;
  background-color: $main-section-background;
}

.teaser-section {
  position: relative;
  padding: $teaser-height / 3;
  background-color: rgba(255, 169, 0, 0.4);
}

.contact-section {
  ul {
    list-style-type: none;
    li {
      display: inline;
    }
  }
}

.angular-google-map-container {
  height: $map-section-height;
}