@import "mixins";
@import "variables";
@import "nav";
@import "carousel";
@import "footer";

// Angular-Bootstrap fix
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
// Terrible fixes for a terrible idea of mixing materialize and bootstrap
.row {
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
  background-color: $header-color;
}

body {
  overflow-x: hidden;
  margin-bottom: $footer-height;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.section {
  height: $section-height;
}

.main-section {
  height: $main-section-height;
  background-color: $main-section-background;
}

.teaser-section {
  position: relative;
  background-color: $teaser-section-background;
  .teaser {
    padding: $teaser-height 0;
  }
}

.contact-section {
  padding: 50px 0;
  background-image: url(../img/contact_background_dark.jpg);
  color: $text-color;
}

.contact-item {
  margin-top: 30px;

  i {
    width: 80px;
    height: 80px;
    line-height: 80px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid $text-color;
  }
}

.angular-google-map-container {
  height: $map-section-height;
}

.small-line {
  border-bottom: 1px $text-color solid;
  margin: auto;
  width: 110px;
}