<div class="row main-section" id="home">
    <div class="slider">
        <ul class="slides">
            <li>
                <img ng-src="{{imgDir}}/carousel/kayaksun1.jpg">
                <div class="caption right-align">
                    <h3>Guided kayak tours</h3>
                    <h5 class="light grey-text text-lighten-3">Explore the beautiful east coast of<br> Vancouver Island from the water</h5>
                    <a class="waves-effect waves-light btn-large red lighten-1">Book Now</a>
                </div>
            </li>
            <li>
                <img ng-src="{{imgDir}}/carousel/kayaksun2.jpg">
                <div class="caption left-align">
                    <h3>Other heading</h3>
                    <h5 class="light grey-text text-lighten-3">you'd better finish this soon</h5>
                    <a class="waves-effect waves-light btn-large red lighten-1">Book Now</a>
                </div>
            </li>
            <li>
                <img ng-src="{{imgDir}}/carousel/arrowsmith.jpg">
                <div class="caption right-align">
                    <h3>Another heading thing</h3>
                    <h5 class="light grey-text text-lighten-3">it's not late enough to quit</h5>
                    <a class="waves-effect waves-light btn-large red lighten-1">Book Now</a>
                </div>
            </li>
            <li>
                <img ng-src="{{imgDir}}/carousel/brickyard.jpg">
                <div class="caption right-align">
                    <h3>Lines of text</h3>
                    <h5 class="light grey-text text-lighten-3">you're not alone here</h5>
                    <a class="waves-effect waves-light btn-large red lighten-1">Book Now</a>
                </div>
            </li>
            <li>
                <img ng-src="{{imgDir}}/carousel/sunset1.jpg">
                <div class="caption bottom-align">
                    <h3>Catch a sunset</h3>
                    <h5 class="light grey-text text-lighten-3">Watch the sun go down over the horizon<br> from one of our safe and sturdy kayaks</h5>
                    <a class="waves-effect waves-light btn-large red lighten-1">Book Now</a>
                </div>
            </li>
            <li>
                <img ng-src="{{imgDir}}/carousel/water1.jpg">
                <div class="caption center-align">
                    <h3>Meet the wildlife</h3>
                    <h5 class="light grey-text text-lighten-3">Rendezvous with some sea lions<br> and maybe even a whale</h5>
                    <a class="waves-effect waves-light btn-large red lighten-1">Book Now</a>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row teaser-section">
    <div class="container-fluid center">
        <div class="col-md-4 teaser">
            <h4>Guided Tours</h4>
            <p>Embark on a guided ocean adventure off of Vancouver Island's eastern shores</p>
        </div>
        <div class="col-md-4 teaser">
            <h4>Daily Trips</h4>
            <p>two</p>
        </div>
        <div class="col-md-4 teaser">
            <h4>Schedule an adventure</h4>
            <p>Tours scheduled all year long</p>
            <a class="waves-effect waves-light btn-large red lighten-1">Book Now</a>
        </div>
    </div>
</div>

<div class="row map-section" id="location">
    <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options"></ui-gmap-google-map>
</div>

<div class="row contact-section" id="contact">
    <div class="container center">
        <h4 class="text-uppercase">Contact Us</h4>

        <div class="small-line center"></div>

        <div class="col-sm-4 contact-item">
            <a ng-href="{{facebook}}">
                <i class="fa fa-facebook-official fa-4x"></i>
                <p>Facebook</p>
            </a>
        </div>
        <div class="col-sm-4 contact-item">
            <a href="#">
                <i class="fa fa-phone fa-4x"></i>
                <p>Call</p>
            </a>
        </div>
        <div class="col-sm-4 contact-item">
            <a href="#">
                <i class="fa fa-envelope-square fa-4x"></i>
                <p>Email</p>
            </a>
        </div>
    </div>

</div>

<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
